#projetos ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  list-style: none;
  padding: 0;
}

#projetos li {
  flex: 1 1 200px;
  max-width: 300px;
  background: #ededed;
  padding: 1rem;
  border-radius: 10px;
}

/* Responsive */
@media (max-width: 800px) {
  #projetos li { flex-basis: 45%; }
}
@media (max-width: 500px) {
  #projetos li { flex-basis: 100%; }
}

nav {
    position: fixed;
    top: 0;
    background: #222;
    opacity: 0.9;
    z-index: 999;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  padding: 0.5rem 2rem;
}

nav :hover {
    background: #444;
    border-radius: 5px;
}

nav li {
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  position: relative;
  padding-bottom: 2px;
  transition: color 0.3s;
}

nav a::after {
  content: '';
  display: block;
  height: 2px;
  background: #3cf;
  width: 0;
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

nav a:hover::after { width: 100%; }

nav a.special {
  background: #3cf;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
}

:root {
    --bg-color: #fff;
}

body.dark-mode {
    --bg-color: #121212;
    --text-color: #e0e0e0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

button#toggleTheme {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 0.5em 1em;
    background: #3cf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}