.venv/
node_modules/
playwright/driver/
*.parquet
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.bak
*.swp
.DS_Store
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace
*.env
.env.*
*.local
.dist-newstyle/

